:root {
  --color: #d2ae68;
  --background-color: #081f28;
}

.booking {
  position: fixed;
  top: 0;
  right: -50%;
  opacity: 0;
  width: 0;
  height: 100%;
  z-index: 99;
  font-size: 18px;
  background-color: transparent;
  border-radius: 0;
  transition: 0.5s ease-in-out;
  padding: 0 2%;
}

.show {
  right: 0;
  opacity: 1;
  width: 100%;
  background-color: var(--background-color);
}

.form {
  margin: 15% 0;
  height: 80%;
  width: 100%;
}

.booking * {
  font-family: "Solitreo", cursive;
  font-size: 1em;
}

.header {
  font-family: "Lobster Two", cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color);
  text-transform: none;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: unset;
}

.sub_header {
  display: flex;
  justify-content: space-around;
  width: 95%;
}

.sub_header > * {
  padding-bottom: 5px;
  margin-bottom: 40px;
  width: 50%;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  transition: all ease-in-out 500ms;
}

.active {
  border-bottom: 1px solid var(--color);
  opacity: 1;
}

option {
  background-color: var(--background-color);
}

.close_form {
  color: var(--color);
  font-size: 2.7rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10%;
  padding-top: 4%;
  z-index: 3;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .show {
    width: 50%;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .show {
    width: 30%;
    min-width: 380px;
    max-width: 500px;
  }
}
