.footer {
  position: relative;
  top: 150px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.item {
  width: calc(100% / 3);
  text-align: center;
  padding: 5px 15px;
}

.item:nth-child(2) {
  border-left: 1px solid;
  border-right: 1px solid;
}

.title {
  font-weight: bolder;
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-decoration: underline;
}

.content {
  font-weight: normal;
}

.address > * {
  margin-bottom: 5px;
}

.admin {
  color: var(--color);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .item {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .item {
    width: 100%;
    font-size: 16px;
  }
}
